{% extends "base.html" %}
{% block heading %}Neexistující Chatbot{% endblock %}

{% block body %}

<p class="rppl">Chatbot {{ scenario }} neexistuje.<br>Zadejte jiný odkaz.<br>Případně si můžete poslechnout nějaké staré fláky:</p>

<iframe src="https://open.spotify.com/embed/playlist/6gNV1ieWlwJYTvNQhH2cTH?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

{% endblock %}
